<select id="filter-library-queue" class="filter__genres">
    <option value="Any" class="filter__genres--option" selected="selected">All genres</option>
    <option value="Comedy" class="filter__genres--option">Comedy</option>
    <option value="Action" class="filter__genres--option">Action</option>
    <option value="Mystery" class="filter__genres--option">Mystery</option>
    <option value="Romance" class="filter__genres--option">Romance</option>
    <option value="Thriller" class="filter__genres--option">Thriller</option>
    <option value="Horror" class="filter__genres--option">Horror</option>
    <option value="Adventure" class="filter__genres--option">Adventure</option>
    <option value="Fantasy" class="filter__genres--option">Fantasy</option>
    <option value="Crime" class="filter__genres--option">Crime</option>
    <option value="Drama" class="filter__genres--option">Drama</option>
    <option value="War" class="filter__genres--option">War</option>
    <option value="History" class="filter__genres--option">History</option>
    <option value="Documentary" class="filter__genres--option">Documentary</option>
    <option value="Family" class="filter__genres--option">Family</option>
    <option value="Animation" class="filter__genres--option">Animation</option>
    <option value="Music" class="filter__genres--option">Music</option>
    <option value="Western" class="filter__genres--option">Western</option>
    <option value="Science Fiction" class="filter__genres--option">Science Fiction</option>
    <option value="TV Movie" class="filter__genres--option">TV Movie</option>
</select>
<div class="filter__notification--library is-hidden">
    <p></p>
</div>