<div class="container-renat">

  <div class="loader is-hidden">
    <div class="dot-pulse"></div>
  </div>

<ul class="film-card__list">
</ul>

<div class="no-result is-hidden">
    <p class="no-result__text">Ooops, there is nothing here... Choose films from <a class="no-result__link" href="index.html">Filmoteka</a></p>
    <img class="no-result__image" src="./images/ghostbusters.jpg" alt="No result">
</div>

<div class="no-result filter-message is-hidden">
  <p class="no-result__text">
    Ooops, no movies in the genre of <span class="no-result__genre">genre</span>...
    <br>Please try another genre or choose films from
      <a class="no-result__link" href="index.html">Filmoteka</a>
    </br>
  </p>
  <img class="no-result__image" src="./images/ghostbusters.jpg" alt="No result" />
  </div>

<div id="pagination" class="tui-pagination"></div>
</div>