<div class="team__lightbox is-hidden">
  <div class="team__modal">
    <h2 class="team__header">Team <span class="team__header--name">CODEBUSTERS</span> by GoIT</h2>

    <ul class="team__list">
      <button type="" class="team__modal--close">
        <svg class="close-svg" width="28" height="28">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <li class="member__item">
        <article class="member__card">
          <div class="member__thumb">
            <img class="member__photo" src="./images/team-photo/mary.jpg" alt="Mary" />
          </div>

          <div class="member__wrapper">
            <div>
              <h3 class="member__header">Mary</h3>
              <p class="member__data">developer</p>
            </div>
            <a class="member__repository" href="https://github.com/mariyka-kononchuk">
              <svg class="social-list__icon" width="30px" height="30px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>

      <li class="member__item">
        <article class="member__card">
          <div class="member__thumb">
            <img src="./images/team-photo/alina.JPG" alt="Alina" />
          </div>
          <div class="member__wrapper">
            <div>
              <h3 class="member__header">Alina</h3>
              <p class="member__data">developer</p>
            </div>
            <a class="member__repository" href="https://github.com/almeln">
              <svg class="social-list__icon" width="30px" height="30px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>

      <li class="member__item">
        <article class="member__card">
          <div class="member__thumb">
            <img src="./images/team-photo/alla.jpg" alt="Alla" />
          </div>
          <div class="member__wrapper">
            <div>
              <h3 class="member__header">Alla</h3>
              <p class="member__data">developer</p>
            </div>
            <a class="member__repository" href="https://github.com/alladenys">
              <svg class="social-list__icon" width="30px" height="30px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>

      <li class="member__item">
        <article class="member__card">
          <div class="member__thumb">
            <img src="./images/team-photo/lexa.png" alt="Alexey" />
          </div>
          <div class="member__wrapper">
            <div>
              <h3 class="member__header">Alexey</h3>
              <p class="member__data">team leader</p>
            </div>
            <a class="member__repository" href="https://github.com/DramonBuster">
              <svg class="social-list__icon" width="30px" height="30px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>

      <li class="member__item">
        <article class="member__card">
          <div class="member__thumb">
            <img src="./images//team-photo/renat.jpg" alt="Renat" />
          </div>
          <div class="member__wrapper">
            <div>
              <h3 class="member__header">Renat</h3>
              <p class="member__data">scrum master</p>
            </div>
            <a class="member__repository" href="https://github.com/Shevchuk-Ren">
              <svg class="social-list__icon" width="30px" height="30px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>

      <li class="member__item">
        <article class="member__card">
          <div class="member__thumb">
            <img src="./images/team-photo/andrew.jpg" alt="Andrew" />
          </div>
          <div class="member__wrapper">
            <div>
              <h3 class="member__header">Andrew</h3>
              <p class="member__data">developer</p>
            </div>
            <a class="member__repository" href="https://github.com/azzzteca">
              <svg class="social-list__icon" width="30px" height="30px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</div>
